timer-bar::part(timerbar-bg) {
  background: #d1d9e6 !important;
}

timer-bar::part(timerbar-fg) {
  box-shadow: 0 0 10px #a3b1c6;
}

timer-bar::part(timerbar-root) {
  border-radius: 4px;
  overflow: hidden;
  border: none;
  box-shadow:
    inset 2px 2px 5px #b8b9be88,
    inset -3px -3px 7px #ffffff88;
}

.timeline-bar-color {
  background: #4f6faa;
}

.timeline-bar-color.soon {
  background: #b22222;
}

timer-bar::part(text) {
  color: #fff;
  font-family: 'Microsoft Yahei UI', 'Microsoft Yahei', sans-serif;
  font-weight: 800;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 1.3rem;
}

timer-bar::part(timerbar-righttext) {
  color: #4b8aff;
  font-family: Consolas, monospace;
  font-weight: 800;
  line-height: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

.info-text {
  color: #bed5ff;
  font-family: 'Microsoft Yahei UI', 'Microsoft Yahei', sans-serif;
  font-weight: 900;
  text-shadow: 0 0 5px #000c;
}

.alert-text {
  color: #ffbf00;
  font-family: 'Microsoft Yahei UI', 'Microsoft Yahei', sans-serif;
  font-weight: 900;
  text-shadow: 0 0 5px #000c;
}

.alarm-text {
  color: #ff1900;
  font-family: 'Microsoft Yahei UI', 'Microsoft Yahei', sans-serif;
  font-weight: 900;
  text-shadow: 0 0 5px #000c;
}